body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #92d1d9, #99c0c3);
}
.moslashuvchan{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.algoritm{
  margin-top: 50px;
  margin-left: 50px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  border-bottom: 3px solid #04e7fc;
  padding-left: 10px;
  width: 300px;
  text-align: center;
  margin-bottom: 60px;
}

.alg{
  color: #0b2e38;
  margin-top: 10px;
}

.card1{
  border: 1px solid #7297b6;
  width: 400px;
  height: 400px;
  position: relative;
  box-shadow: 4px 4px 40px 4px rgb(26, 25, 25);
  border-radius: 10px;
  
}

.ism_familiya{
  font-family: sans-serif;
  font-size: 34px;
  color: rgb(97, 109, 108);
  border-bottom: 5px solid #86dbdb;
  margin-left: 40px;
  margin-right: 40px;
}

.p1{
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(73, 127, 153);
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
}

.yozuv1{
  text-align: center;
}

.til_ota{
  margin-left: 60px;
  margin-right: 60px;
}

.tillar{
  font-size: 26px;
  font-family: sans-serif;
  color: rgb(196, 219, 217);
  border-top: 2px solid #2d8aaf;
  border-left: 1px solid #1cb2cd;
  border-right: 1px solid #1cb2cd; 
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: -7px;
}

.til{
  font-size: 20px;
  font-family: sans-serif;

}

.html, .css, .javasc{
  border-right: 3px solid #08908e;
  padding: 10px;
}

.rasm1{
  width: 150px;
  position: absolute;
  border-radius: 4%;
  display: flex;
  border: 2px solid #858c8f;
  transform: translateX(22% );
  box-shadow: 4px 4px 20px 4px rgb(26, 25, 25);
  margin-left: 80px;
  transition: all 0.3s ease-in-out;
}

.rasm1:hover{
  transform: scale(1.1) translateX(22%);
  
}
















